@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
:root {
  --color-background: var(--color-grayscale-800);
  --color-text: var(--color-grayscale-000);
  --color-primary: var(--color-primary-400);

  --color-primary-100: hsl(222 100% 90%);
  --color-primary-200: hsl(222 100% 80%);
  --color-primary-300: hsl(222, 100%, 70%);
  --color-primary-400: hsl(222 100% 60%);
  --color-primary-500: hsl(222 80% 40%);

  --color-grayscale-000: hsl(0 0% 100%);
  --color-grayscale-200: hsl(240 5% 90%);
  --color-grayscale-300: hsl(240 5% 80%);
  --color-grayscale-400: hsl(240 5% 70%);
  --color-grayscale-500: hsl(240 5% 60%);
  --color-grayscale-600: hsl(240 5% 50%);
  --color-grayscale-700: hsl(240 5% 20%);
  --color-grayscale-800: hsl(240 5% 10%);

  --image-overlay-color: hsl(240 5% 5% / 0.9);

  --opacity-transparent: 0.5;

  --border-r: 0.4rem;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
  color: var(--color-text);
  background: linear-gradient(0deg, var(--color-background) 85%, var(--color-grayscale-700) 100%);
}

h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4.5rem;
  border-bottom: 0.1rem solid var(--color-text);
  border-radius: 0;
}

h2 {
  color: var(--color-grayscale-500);
  letter-spacing: 0.15rem;
}

h3 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.2rem;
}

h4 {
  margin: 0;
  color: var(--color-background);
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 1px 1px 0px var(--color-text),
               1px -1px 0px var(--color-text),
			         -1px 1px 0px var(--color-text),
			         -1px -1px 0px var(--color-text),
			         1px 0px 0px var(--color-text),
			         0px 1px 0px var(--color-text),
			         -1px 0px 0px var(--color-text),
			         0px -1px 0px var(--color-text);
  opacity: var(--opacity-transparent);
}

h5 {
  color: var(--color-primary);
  font-weight: 600;
}

a {
  color: var(--color-text);
}

button {
  border: 0;
  padding: 0.4rem 2rem;
  align-items: center;
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

.intro img {
  width: 30%;
}

nav img {
  width: auto;
}

.nav-menu img {
  width: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.section {
  margin: 6rem 0;
}

.width {
  width: clamp(20rem, 100%, 44.5rem);
}

.m-auto {
  margin-left: auto;
}

.ta-start {
  text-align: start;
}

.ta-center {
  text-align: center;
}

.ta-end {
  text-align: end;
}

.article {
  padding: 2rem;
  background-color: var(--color-grayscale-400);
  background-blend-mode: multiply;
  background-size: cover;
  transition: all 0.8s;
}

.article * {
  text-shadow: 0 0 0.4rem var(--image-overlay-color);
}

button,
.article,
.border-rounded {
  border-radius: var(--border-r);
}

.button {
  align-self: flex-end;
  width: 10rem;
}

.button-primary {
  background-color: var(--color-primary-400);
  color: var(--color-text);
  border: 0.1rem solid transparent;
}

.active {
  letter-spacing: 0.1rem;
  color: var(--color-text);
  opacity: 1;
}

.active::before {
  content: ">";
}

.hide {
  display: none;
}

.moon-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.moon {
  position: relative;
  width: 60rem;
  top: -40rem;
  animation: rotateGif 300s linear infinite both;
  box-shadow: 0rem 0rem 5rem 0rem var(--color-grayscale-400);
  border-radius: 100%;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header * {
  margin: 0.2rem;
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.nav-menu img,
.nav-socials img {
  margin: 0;
}

.nav-mobile-only {
  display: none;
}

.container-reversed-colors {
  color: var(--color-background);
  background-color: var(--color-text);
  padding: 1rem;
}

.about img {
  width: 30%;
}

.decorative-text,
.decorative-text-vertical {
  width: 0%;
  height: 0%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.decorative-text-vertical {
  transform-origin: -3.5rem 4rem;
  transform: rotate(90deg);
  pointer-events: none;
}

.flexbox img {
  height: 25rem;
}

@media screen and (min-width: 98rem) {
  nav {
    height: 100vh;
    inset: 0 0 0 0;
    z-index: -1;
  }

  nav * {
    margin: 1rem 0;
  }

  .nav-menu {
    padding: 50vh 2rem 50vh 10rem;
    background-color: var(--color-background);
  }

  .nav-socials {
    padding: 50vh 10rem 50vh 2rem;
    text-align: end;
  }

  .intro::after {
    right: 20%;
    top: 102%;
    position: absolute;
    content: url(./assets/images/decoration_star.webp);
    animation: rotateGif 10s linear infinite both;
    z-index: -5;
    opacity: 0.1;
  }
}

@media screen and (max-width: 98rem) {
  nav {
    inset: 0 0 90% 0;
    justify-content: space-around;
    background-color: var(--image-overlay-color);
    backdrop-filter: blur(0.2rem);
    z-index: 1;
  }

  nav * {
    display: flex;
    padding: 0;
    margin: 0.2rem;
    align-items: center;
  }

  nav button {
    padding: 0.4rem 2rem;
  }
}
@media screen and (max-width: 50rem) and (min-width: 27rem) {
  .grid > article:last-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 65rem) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  a,
  button {
    font-weight: 600;
  }

  .width {
    width: 100%;
    padding: 0 1rem;
  }

  .article {
    padding: 2rem 1rem;
  }

  .flexbox {
    flex-direction: column;
  }

  .nav-mobile-only {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-background);
    padding: 0.3rem 0.6rem;
    box-shadow: 0 0 1rem var(--color-grayscale-500);
  }

  nav {
    inset: 0 0 0 0;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
  }

  .nav-open {
    transform: translateX(0);
  }

  .nav-menu {
    flex-direction: column;
    gap: 0.4rem;
  }

  .nav-menu > li:nth-child(2),
  .nav-menu > li:nth-child(3),
  .nav-menu > li:nth-child(4) {
    width: 10rem;
    justify-content: center;
    padding: 0.4rem;
    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
  }

  .nav-socials {
    width: 11rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-primary {
    font-size: 1rem;
  }

  .intro > img {
    display: none;
  }

  .decorative-text {
    font-size: 0.75rem;
  }

  .decorative-text-vertical {
    display: none;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    width: 100%;
    height: 9.3rem;
  }
}

@media (hover: hover) {
  a > img:hover {
    filter: invert(65%) sepia(50) hue-rotate(180deg) saturate(5);
  }

  a:active,
  a:hover {
    color: var(--color-primary);
  }

  .button:hover {
    background-color: var(--color-primary-500);
    border: 0.1rem solid var(--color-primary-400);
  }

  #projects a:hover,
  #latest-projects a:hover {
    color: var(--color-grayscale-000);
  }

  .article:hover {
    background-color: var(--color-grayscale-300);
    scale: 101%;
  }

  h4:hover {
    color: var(--color-text);
    letter-spacing: 0.1rem;
    opacity: 1;
  }
}

@keyframes rotateGif {
  100% {
    rotate: 360deg;
  }
}